<div class="container-fluid ">
  <div class="row mt-3">
    <div class="col-12">
      <h5 class="mb-3">Define New Component</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
      <div class="info">
        <div class="row mb-3">
          <div class="col-6 d-flex justify-content-start">
            <h6>Modules</h6>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary">Add New Modules</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Modules Search"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-danger" type="button" id="button-addon2"><span class="fs-5">X</span></button>
            </div>
          </div>
        </div>
        <div class="info-1" style="overflow-y:scroll;overflow-x: hidden; height:450px;">
          <div class="row">
            <div class="col-12">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      ADMINSTRATION
                    </button>
                    
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                      aria-expanded="true" aria-controls="collapseTwo">
                      RECEPTION
                    </button>
                    
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                      aria-expanded="true" aria-controls="collapseThree">
                      DOCTORS
                    </button>
                    
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                      aria-expanded="true" aria-controls="collapseFour">
                      ACTIVE MEDICAL SHEETS
                    </button>
                    
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                      aria-expanded="true" aria-controls="collapseFive">
                      PATIENT BILLING MODULE
                    </button>
                    
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSix">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                      aria-expanded="true" aria-controls="collapseSix">
                      NURSING
                    </button>
                    
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
  
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
      <div class="info">
        <div class="row mb-3">
          <div class="col-6 d-flex justify-content-start">
            <h6>Categories</h6>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary">Add New Categories</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Categories Search"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-danger" type="button" id="button-addon2"><span class="fs-5">X</span></button>
            </div>
          </div>
        </div>
        <div class="info-1" style="overflow-y:scroll;overflow-x: hidden; height:450px;">
          <div class="row">
            <div class="col-12">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading7">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                      aria-expanded="true" aria-controls="collapse7">
                      PHYSICAL APPLICATION
                    </button>
                    
                  </h2>
                  <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading8">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                      aria-expanded="true" aria-controls="collapse8">
                      DOCTORS SETUP
                    </button>
                    
                  </h2>
                  <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
  
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-4 col-sm-12  d-flex justify-content-center">
      <div class="info">
        <div class="row mb-3">
          <div class="col-6 d-flex justify-content-start">
            <h6>Functions</h6>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-success me-2"   >Add New Categories </button>
            <button class="btn btn-primary"  >Add New Modules</button>         
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Modules Search"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-danger" type="button" id="button-addon2"><span class="fs-5">X</span></button>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <ul>
              <li>All</li>
              <li>Has URL</li>
              <li>No URL</li>
            </ul>
          </div>
        </div>
        <div class="info-1" style="overflow-y:scroll;overflow-x: hidden; height:450px;">
          <div class="row">
            <div class="col-12">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading9">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                      aria-expanded="true" aria-controls="collapse9">
                      DRUG INTERACTION
                    </button>
                    
                  </h2>
                  <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading10">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse10"
                      aria-expanded="true" aria-controls="collapse10">
                      OPERATION LIST
                    </button>
                    
                  </h2>
                  <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading11">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse11"
                      aria-expanded="true" aria-controls="collapse11">
                      FIND PHYSICIAN PRIVILEGES
                    </button>
                    
                  </h2>
                  <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading12">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse12"
                      aria-expanded="true" aria-controls="collapse12">
                      ACTIVE MEDICAL SHEETS
                    </button>
                    
                  </h2>
                  <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading13">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse13"
                      aria-expanded="true" aria-controls="collapse13">
                      PATIENT BILLING MODULE
                    </button>
                    
                  </h2>
                  <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading14">
                      <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse14"
                      aria-expanded="true" aria-controls="collapse14">
                      NURSING
                    </button>
                    
                  </h2>
                  <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Latin Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Latin Description">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Local Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                          placeholder="Local Description">
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
  
            </div>
          </div>
        </div>
        
      </div>  
    </div>
  </div>

</div>
<router-outlet></router-outlet>