/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fff;
    overflow: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-expansion-indicator{
    display: none !important;
  }
  .mat-expansion-panel-header {
    padding: 0 !important;
    
  }